<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kanban Board</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="app">
        <!-- Header -->
        <header>
            <div class="container">
                <ul>
                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="/">Dự án</a></li>
                </ul>
                <ul class="right">
                    <li>Đăng nhập với <a href="/">example@gmail.com</a></li>
                    <li><a href="/">Đăng xuất</a></li>
                </ul>
            </div>
        </header>
        <div class="main-header">
            <div class="container">
                <h3 class="site-title">Dự án Landmark 81 Website</h3>
            </div>
        </div>
        <!-- End Header -->

        <!-- Content -->
        
        <main class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-content">
                        <div class="page-title">
                            <span>Kangban Board</span>
                            <a href="/create-backlog" class="create-new-item">Create New Item</a>
                        </div>
                        <div class="wrapper-board">
                            <div class="row">
                                <div class="item">
                                    <div class="col-title">Todo</div>
                                    <div class="backlogs-item">
                                        <div class="project">Landmark 81 Website</div>
                                        <div class="title">Phân tich dự án</div>
                                        <div class="due-date">Deadline: <span>30/09/2018</span></div>
                                        <div class="phase">Giai đoạn: <span>Front End</span></div>
                                        <div class="assign">@luctc - </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-title">In Process</div>
                                    <div class="backlogs-item">
                                        <div class="project">Landmark 81 Website</div>
                                        <div class="title">Phân tich dự án</div>
                                        <div class="due-date">Deadline: <span>30/09/2018</span></div>
                                        <div class="phase">Giai đoạn: <span>Front End</span></div>
                                        <div class="assign">@luctc - </div>
                                    </div>
                                </div>


                                <div class="item">
                                    <div class="col-title">Bugs</div>
                                    <div class="backlogs-item">
                                        <div class="project">Landmark 81 Website</div>
                                        <div class="title">Phân tich dự án</div>
                                        <div class="due-date">Deadline: <span>30/09/2018</span></div>
                                        <div class="phase">Giai đoạn: <span>Front End</span></div>
                                        <div class="assign">@luctc - </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-title">Done</div>
                                    <div class="backlogs-item">
                                        <div class="project">Landmark 81 Website</div>
                                        <div class="title">Phân tich dự án</div>
                                        <div class="due-date">Deadline: <span>30/09/2018</span></div>
                                        <div class="phase">Giai đoạn: <span>Front End</span></div>
                                        <div class="assign">@luctc - </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="side-bar">
                        <div class="page-title">
                            <span>Thành viên</span>
                        </div>
                        <ul class="list-members">
                            <li>luctc</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>