<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Two Way Binding and Class and Style</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <div style="background-image: url('https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724__340.jpg')"> -->
        <!-- <div v-bind:style="{backgroundImage: 'url(' + bg + ')'}"> -->
        <!-- <div v-bind:style="{backgroundImage: background}"> -->
        <div v-bind:style="objStyle">
            <h1>FirstName = {{ firstName }}</h1>
            <p>{{ about }}</p>
            <!-- <input v-on:keyup="handleKeyUp" type="text" placeholder="Nhap firstName"> -->
            <input v-model="firstName" type="text" placeholder="Nhap firstName">
            <br>
            <textarea v-model="about" cols="30" rows="10"></textarea>
            <div v-bind:class="'demo-' + textClass"></div>
            <div class="demo" v-bind:class="{'active': isActive, 'error': isError }"></div>
            <button v-on:click="changeActive">Change Active</button>
            <button v-on:click="changeError">Change Error</button>
            <div class="demo" v-bind:class="objClass"></div>
    
            <hr>
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px', marginTop: '20px' }">
                Test Style Binding
            </div>
        </div>
    </div>
</body>
    <script>
        var app = new Vue({
            el  : '#app',
            data: {
                firstName: 'Nguyen',
                about    : 'About me',
                textClass: 'active',
                isActive : true,
                isError  : false,

                activeColor: 'red',
                fontSize: 20,
                
                bg : 'https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724__340.jpg'
            },
            methods: {
                handleKeyUp(e) {
                    this.firstName = e.target.value;
                },
                changeActive() {
                    this.isActive = !this.isActive;
                },
                changeError() {
                    this.isError = !this.isError;
                }
            },
            computed: {
                objClass() {
                    return {'active': this.isActive, 
                            'error': this.isError 
                        };
                },
                background() {
                    return 'url(' + this.bg + ')';
                },
                objStyle() {
                    return {
                            backgroundImage: 'url(' + this.bg + ')',
                            margin: '10px',
                            paddingLeft: '30px'
                        };
                }
            }
        });
    </script>
</html>